.board {
    margin: auto;  
    margin-top: 25px;  
    width: 95%;
}
.info {
    margin: auto;  
    width: 95%;
}

@media only screen and (min-width: 400px) {
    .board {
	    width: 400px;
	    margin: auto
	}
    .info {
        width: 400px;
        margin: auto
    }
}